* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "helvetica neue";
}
html,
body {
  width: 100%;
}
.section1 {
  height: 100vh;
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section2 {
  height: 100vh;
  width: 100%;
  background-color: rgb(127, 207, 215);
  padding: 5px 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.section3 {
  height: 100vh;
  width: 100%;
  background-color: black;
}
h2 {
  text-transform: uppercase;
  white-space: nowrap;
  font-size: 30vw;

}
